{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<!--Sweet alert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--Search -->

<div class="container">
	<div class="card" style="width:40rem;">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<a href="{% url 'news:comment-pdf' %}" class="btn btn-info"> Pdf Format </a>
				</div>
				<div class="col-sm-4">
					<a href="{% url 'news:comment-csv' %}" class="btn btn-success"> Csv Format</a>
				</div>
				<div class="col-sm-4">
					<a href="{% url 'news:comment-excel' %}" class="btn btn-secondary"> Excel Format</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-end">
		<div class="col-3">
			<form method="GET">
				{% csrf_token %}
				<div class="input-group">
					<input type="text" class="form-control rounded" placeholder="Search" name="q"/>
					<button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Comment</b></h2>
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                        swal({
                            title: "Good job!",
                            text: "{{ message }}",
                            icon: "success",
                        });
                    </script>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>News </th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Comment </th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for co in comment_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ co.author }}</td>
                    <td>{{ co.news }}</td>
                    <td>{{ co.user }}</td>
                    <td>{{ co.email }}</td>
                    <td>{{ co.comment|striptags }}</td>
                    <td>{{ co.status }}</td>
                    <td>
                        <a href="{% url 'news:comment-update' co.id %}" class="btn btn-info editbtn"> Edit </a>                      
                        <a href="{% url 'news:comment-delete' co.id %}" class="btn btn-danger deletebtn"> Delete </a>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>

        <!--Add pagination in Comment-->
        <div class="container">
            <div class="row justify-content-end">
                <nav aria-label="Page navigation example">
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </div>

        <!-- Edit Author-->
        <div id="editCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <!--Delete Author-->
        <div id="deleteCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $('.editbtn').on('click', function (e) {
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function (data) {
            console.log(data)
            $('#editCommentModal').modal('show');
            $('#editCommentModal .modal-content').empty().append(data)
        })
    })

    $('.deletebtn').on('click', function(e){
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function(data){
            console.log(data)
            $('#deleteCommentModal').modal('show');
            $('#deleteCommentModal .modal-content').empty().append(data)
        })
    })

</script>

{% endblock scripts %}