{% load static %}
<div class="header-top black-bg d-none d-md-block">
    <div class="container">
        <div class="col-xl-12">
             <div class="row d-flex justify-content-between align-items-center">
                 <div class="header-info-left">
                     <ul>     
                         <li><img src="{% static 'assets/img/icon/header_icon1.png' %}" alt="">34ºc, Sunny </li>
                         <li><img src="{% static 'assets/img/icon/header_icon1.png' %}" alt="">Friday, 8th April, 2022</li>
                     </ul>
                 </div>
                 <div class="header-info-right">
                     <ul class="header-social">    
                         <li><a href=""><i class="fab fa-twitter"></i></a></li>
                         <li><a href=""><i class="fab fa-instagram"></i></a></li>

                     </ul>
                 </div>
                 <div>
                   <li> <a href="{% url 'accounts:register' %}"><i class="fa-solid fa-user"></i></a></li>
                 </div>
             </div>
        </div>
    </div>
 </div>
 <div class="header-mid d-none d-md-block">
    <div class="container">
         <div class="row d-flex align-items-center">
             <!-- Logo -->
             <div class="col-xl-3 col-lg-3 col-md-3">
                 <div class="logo">
                     <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                 </div>
             </div>
             <div class="col-7">
                 <div class="header-banner f-right ">
                     <img src="{% static 'assets/img/hero/priya_xRwTQfM_nBGJhpH.pnj.jpeg' %}" alt="">
                 </div>

             </div>
         </div>
    </div>
    <div class="d-flex justify-content-start">
                    
        <a href="#"> <i class="fas fa-user-alt"></i></a>
       

    </div>
 </div>