{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="trending-area fix">
    <div class="container">
        <div class="trending-main">
            <!-- Trending Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    {% include 'trending.html' %}
                </div>
            </div>
            <div class="row">
                {% include 'toptrending.html' %}
                <!-- Riht content -->
            </div>
        </div>
    </div>
</div>
<!-- Trending Area End -->
<!--   Weekly-News start -->
<div class="weekly-news-area pt-50">
    <div class="container">
       <div class="weekly-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <span class="color2"></span>
                        <h3 style="color:cadetblue;">सम–सामयिक </h3>
                       
                    </div>
                </div>
            </div>
            
            {% include 'topnews.html' %}
       </div>
    </div>
</div> 
<!-- End Weekly-News -->
<!-- Whats New Start -->
<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    
                <!-- End Nav Card -->
                
                {% include 'card.html'%}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Whats New End -->
<!--   Weekly2-News start -->      
<!-- End Weekly-News -->
<!-- Start Youtube -->

<!-- End Start youtube -->
<!--  Recent Articles start -->
<div class="recent-articles">
  
    {% include 'article.html' %}
</div>   
{% endblock content %}