{% load static %}
<div class="row align-items-center">
    <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
        <!-- sticky -->
            <div class="sticky-logo">
                <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
            </div>
        <!-- Main-menu -->
        <div class="main-menu d-none d-md-block">
            
            <nav>    
            
                <ul id="navigation">    
                    <li class="nav-category nav-item dropdown"><a href="{% url 'newsapp:index' %}">Home
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    </a>
                    {% for category_object in categories %}
                    <li class="nav-category"><a href="{% url 'newsapp:details-page' category_object.pk %}">{{ category_object.title }}</a></li>
                    {% endfor %}
                    
                    
                </ul>
            </nav>
        </div>
    </div>             
    <!-- Mobile Menu -->
</div>