{% load static %}
<div class="row align-items-center">
    <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
        <!-- sticky -->
            <div class="sticky-logo">
                <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
            </div>
        <!-- Main-menu -->
        <div class="main-menu d-none d-md-block">
            
            <nav>    
            
                <ul id="navigation">    
                    <div class="dropdown">
                        <li class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-caret-down"></i>
                        </li>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {% for category_object in categories%}
                          <li class="dropdown-item"><a href="{% url 'newsapp:details-page' category_object.pk %}">{{category_object.title}}</a></li>
                          {% endfor %}
                          
                        </div>
                      </div>

                      <div class="nav-category">
                        <li class="nav-category"><a href="{% url 'newsapp:index' %}"><i class="fa-solid fa-house"></i></a></li>
                        </div>

                    <div class="nav-category">
                    {% for category_object in categories %}
                    <li class="nav-category"><a href="{% url 'newsapp:details-page' category_object.pk %}">{{ category_object.title }}</a></li>
                    {% endfor %}
                    </div>
                </ul>
                
            </nav>
        </div>
    </div>             
    <!-- Mobile Menu -->
</div>

