{% extends 'dashboard/base.html' %}
{% block content %}
<!-- Sweet alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<form method="POST" action="{% url 'news:banneradd_create' %}" enctype="multipart/form-data">
    {% if messages %}
        {% for message in messages %}
        <script>
            swal({
                title: "Good job!",
                text: "{{ message }}",
                icon: "success",
              });
        </script>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add Banneradd</h4>
    </div>
    <div class="modal-body">
        
        {{ form.non_field_errors }}
        {% for f in form %}
        <div class="form-group" required>
            <label>{{ f.label  }}</label>
            {{ f }}
            <span> {{ f.errors|striptags }} </span>
        </div>
        {% endfor %}
        <img id ="output"/ style="width:100px;" "height:100px;">
        <button class="btn btn-primary"> add </button>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function (){
        $('#id_banneradd').select2();
    })

    {% comment %} image preview ko lagi {% endcomment %}
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src) // free memory
        }
      };
</script>

{% endblock scripts %}